<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product!</title>
</head>
<body>
<form th:action="@{/products/add}" th:object="${product}" method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name"
               name="name">
    </div>
    <div>
        <label for="price">Price: </label>
        <input type="number" min="0"
               max="10000" step="0.01"
               id="price" name="price">
    </div>
    <div>
        <label for="description">Description: </label>
        <textarea id="description"
                  name="description">

      </textarea>
    </div>
    <div>
        <input type="checkbox" id="onsale" name="onsale">
        <label for="onsale">On Sale</label>
    </div>
    <button type="submit">Add Product</button>
</form>
</body>
</html>